<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia wizyt</title>
</head>
<body>

<h1>Historia wizyt</h1>

<div th:if="${successMessage}" style="color: green; font-weight: bold;" th:text="${successMessage}"></div>
<div th:if="${validationError}" style="color: black;" th:text="${validationError}"></div>

<h2>Nadchodzące:</h2>
<div th:if="${nadchodzace == null or nadchodzace.isEmpty()}">
    <p>Brak nadchodzących wizyt.</p>
</div>
<ul th:if="${nadchodzace != null and not nadchodzace.isEmpty()}">
    <li th:each="wizyta : ${nadchodzace}">
        Lekarz: <span th:text="${wizyta.getImieLekarz}"></span> <span th:text="${wizyta.getNazwiskoLekarz}"></span>,
        Data: <span th:text="${wizyta.getData}"></span>,
        Godzina: <span th:text="${wizyta.getGodzina}"></span>
    </li>
</ul>

<h2>Odbyte:</h2>
<div th:if="${odbyte == null or odbyte.isEmpty()}">
    <p>Brak odbytch wizyt.</p>
</div>
<ul th:if="${odbyte != null and not odbyte.isEmpty()}">
    <li th:each="wizyta : ${odbyte}">
        Lekarz: <span th:text="${wizyta.getImieLekarz}"></span> <span th:text="${wizyta.getNazwiskoLekarz}"></span>,
        Data: <span th:text="${wizyta.getData}"></span>,
        Godzina: <span th:text="${wizyta.getGodzina}"></span>
    </li>
</ul>

</body>
</html>
