<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybór daty</title>
</head>
<body>

<h1>Wybierz datę wizyty</h1>

<div th:if="${successMessage}" style="color: green; font-weight: bold;" th:text="${successMessage}"></div>
<div th:if="${validationError}" style="color: red;" th:text="${validationError}"></div>

    <div th:if="${terminy != null}">
        <ul>
            <!-- Iteracja po dostępnych datach -->
            <li th:each="termin : ${terminy}">
                <h3 th:text="'Data: ' + ${termin.getData}"></h3>
                <ul>
                    <!-- Lista godzin dla każdej daty -->
                    <li th:each="godzina : ${termin.getDostepneGodziny}">
                        <form action="/pacjent/lekarz_godziny" method="post">
                            <input type="hidden" th:value="${termin.getData}" name="data" />
                            <input type="hidden" th:value="${godzina}" name="godzina" />
                            <input type="hidden" th:value="${idlekarz}" name="idlekarz" />
                            <button type="submit" th:text="${godzina}"></button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



</body>
</html>
