    footer {
      text-align: center;
      padding: 15px;
      background-color: #8e6045;
      color: white;
      position: relative;
      bottom: 0;
      width: 100%;
      font-size: 14px;
    }

    footer a {
      color: #f7d7c4;
      text-decoration: none;
      margin-left: 5px;
    }

    footer a:hover {
      text-decoration: underline;
    }