<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>

    <!-- Pliki CSS -->
    <link rel="stylesheet" href="css/okienko.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/footer.css">

</head>
<body>
<header>
    <h1>MedPoint Clinic - logowanie</h1>
</header>

<div class="wrapper">
    <div class="container">
        <form action="/logowanie" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Wprowadź swój email" />
            <span th:if="${emailError}" class="error" th:text="${emailError}"></span>

            <label for="haslo">Hasło:</label>
            <input type="password" id="haslo" name="haslo" placeholder="Wprowadź swoje hasło" />
            <span th:if="${hasloError}" class="error" th:text="${hasloError}"></span>

            <span th:if="${statusError}" class="error" th:text="${statusError}"></span>
            <span th:if="${validationError}" class="error" th:text="${validationError}"></span>

            <button type="submit">Zaloguj się</button>
        </form>
    </div>
</div>

<footer>
    &copy; 2025 MedPoint Clinic - Wszystkie prawa zastrzeżone.
</footer>
</body>
</html>


