<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasi Specjaliści</title>

    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/specjalisci.css">

</head>
<body>

<header>
    <h1>MedPoint Clinic - nasi specjaliści</h1>
</header>
<div th:if="${lekarze != null}">
    <div class="cards-container" th:each="lekarz : ${lekarze}">
        <!-- Karta specjalisty -->
        <div class="card">
            <h3>
                <span th:text="${lekarz.getImie}"></span>
                <span th:text="${lekarz.getNazwisko}"></span>
            </h3>
            <p class="specialization" th:text="${lekarz.getSpecjalizacja}"></p>
        </div>
    </div>
</div>

<div class="no-specialists" th:if="${lekarze == null}">
    <p>Brak dostępnych specjalistów.</p>
</div>

<footer>
    &copy; 2025 MedPoint Clinic - Wszystkie prawa zastrzeżone.
</footer>

</body>
</html>
