<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicalPointCenter</title>
</head>
<body>

<h1>MedicalPointCenter</h1>

<a href="/rejestracja" target="_blank">Rejestracja</a><br><br>
<a href="/specjalisci" target="_blank">Nasi specjaliści</a><br><br>
<a href="/onas" target="_blank">O nas</a><br><br>
<a href="/logowanie" target="_blank">Logowanie</a><br><br>
<a href="/kontakt" target="_blank">Kontakt</a><br><br>


</body>
</html>
